body{
    background-color: #e3e2e2;
    color:white;
    font-family: 'Courier New', Courier, monospace;
}
header h1{
    width: 100%;
    color: #136b95;
    font-style: italic;
    font-weight: bolder;
    text-align: center;    
}
section{
    display: flexbox;
    text-align: center;
    margin: 20px 150px;
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 5px 5px 5px #888888;
}
div{
    margin: 50px;
}
div label{
    color: #852c02;
    font-family: helvetica;
    font-size: medium;
    line-height: 0.4em;
    letter-spacing: 0.05em;
}
section article h2{
    color: #44446a;
    font-family: Arial;
    font-size: 20px;
    font-weight: 500;
    font-style: oblique;
    letter-spacing: 0.04em;
}
input{
    padding-left: 10px;
    border: none;
    height: 25px;
    border-radius: 5px;
}
span{
    color: #136b95;
    font-size: 1.2em;
    font-family: sans-serif;
    font-style: oblique;
}
footer h6{
    color: #131414;
    font-style: italic;
    font-family: helvetica;
    font-weight: bolder;
    text-align: center;       
}